p, h1, h2, h3, h4, h5, h5, li {
	font-family: sans-serif, Helvetica;
}

h1 {
	font-size: 28px;
}

ul {
	list-style-type: "» ";
}

li.lv > a > img {
	vertical-align: middle;
	width: 16px;
	alt: "zip download";
	margin-left: 4px;
}

.author {
	font-size: 18px;
}